In [43]:
import pandas as pd
import numpy as np

In [44]:
Xtrain = pd.read_csv("./Xtrain_hgcGIrA.csv")
Ytrain = pd.read_csv("./Ytrain_yL5OjS4.csv")

Xtest = pd.read_csv("./Xtest.csv")
Ytest = pd.read_csv("./Ysample_iX1anNa.csv")

In [45]:
Xtrain.head()

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3
0,2019-01-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.138,0.091
1,2019-01-08,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.152,0.106
2,2019-01-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.153,0.111
3,2019-01-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.152,0.108
4,2019-01-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.210,0.147,0.096

In [46]:
print("Shape of Xtrain :" + str(Xtrain.shape))
print("Shape of Ytrain :" + str(Ytrain.shape))

print("Shape of Xtest :" + str(Xtest.shape))
print("Shape of Ytest :" + str(Ytest.shape))

Shape of Xtrain :(31119, 12)
Shape of Ytrain :(31119, 2)
Shape of Xtest :(13752, 12)
Shape of Ytest :(13752, 2)

In [47]:
X = pd.concat([Xtrain, Xtest], axis=0)
X.reset_index(drop=True, inplace=True)

In [48]:
X

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3
0,2019-01-07,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.201,0.138,0.091
1,2019-01-08,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.152,0.106
2,2019-01-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.153,0.111
3,2019-01-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.152,0.108
4,2019-01-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.210,0.147,0.096
...,...,...,...,...,...,...,...,...,...,...,...,...
44866,2019-07-03,9,0,BE,08:00:00,2,0.121,0.145,0.15715,0.071,0.095,NaN
44867,2019-07-04,9,0,BE,08:00:00,2,0.144,0.139,0.15300,0.079,0.102,NaN
44868,2019-07-05,9,0,BE,08:00:00,2,0.128,0.137,0.12700,0.072,0.089,NaN
44869,2019-05-28,9,0,BE,08:00:00,2,0.164,0.187,0.15500,0.100,0.130,NaN
44870,2019-06-05,9,0,BE,08:00:00,2,0.146,0.172,0.12700,0.080,0.093,NaN

In [49]:
X['way'].value_counts()

way
0    44871
Name: count, dtype: int64

In [50]:
X['composition'].value_counts()

composition
2    44860
1       11
Name: count, dtype: int64

In [51]:
X['hour'].value_counts()

hour
07:00:00    14647
08:00:00    14398
06:00:00     7117
09:00:00     4097
11:00:00        2
Name: count, dtype: int64

In [52]:
def transform(X):
   
    X = X.drop(['way', 'composition'], axis=1)
    X['date'] = pd.to_datetime(X['date'], format='%Y-%m-%d')
    X['hour'] = pd.to_datetime(X['hour']).dt.hour
    X.drop(X[X['hour'] == '11:00:00'].index, inplace=True)
    X['day_of_week'] = X['date'].dt.dayofweek + 1
    X["Train_Station"] = X["train"].astype(str) + X["station"] + X["hour"].astype(str) + X["day_of_week"].astype(str)
    X=X.drop(["train","station", "hour", "day_of_week", "date"], axis=1)
    X = pd.get_dummies(X, columns=["Train_Station"])
    X.replace(False, 0, inplace=True)
    X.replace(True, 1, inplace=True)
    
    return X

In [53]:
X = transform(X)

C:\Users\admin\AppData\Local\Temp\ipykernel_5364\807163657.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X['hour'] = pd.to_datetime(X['hour']).dt.hour

In [54]:
X

,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,Train_Station_10AD8.01,Train_Station_10AD8.02,Train_Station_10AD8.03,Train_Station_10AD8.04,...,Train_Station_9BD8.02,Train_Station_9BD8.03,Train_Station_9BD8.04,Train_Station_9BD8.05,Train_Station_9BE7.03,Train_Station_9BE8.01,Train_Station_9BE8.02,Train_Station_9BE8.03,Train_Station_9BE8.04,Train_Station_9BE8.05
0,NaN,NaN,NaN,0.201,0.138,0.091,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,0.204,0.152,0.106,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,NaN,0.213,0.153,0.111,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,0.213,0.152,0.108,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,0.210,0.147,0.096,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44866,0.121,0.145,0.15715,0.071,0.095,NaN,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
44867,0.144,0.139,0.15300,0.079,0.102,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
44868,0.128,0.137,0.12700,0.072,0.089,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44869,0.164,0.187,0.15500,0.100,0.130,NaN,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
44870,0.146,0.172,0.12700,0.080,0.093,NaN,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [55]:
# def transform2(X):

#     columns_to_delete = ['way', 'composition','date']
#     X = X.drop(columns=columns_to_delete, axis=1)
#     #X['date'] = pd.to_datetime(X['date'], format='%Y-%m-%d')
#     X['hour'] = pd.to_datetime(X['hour']).dt.hour
#     X = pd.get_dummies(X, columns=["station"])
#     X = pd.get_dummies(X, columns=["train"])
#     #X=X.drop(["train","station"], axis=1)
#     return X

In [56]:
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer
# from sklearn.linear_model import BayesianRidge

# imputer = IterativeImputer(estimator=BayesianRidge(), random_state=0)
# data = transform2(X)
# columns = data[['p1q0','p2q0','p3q0','p0q1','p0q2','p0q3','hour']].columns.tolist()
# data[['p1q0','p2q0','p3q0','p0q1','p0q2','p0q3','hour']] = pd.DataFrame(imputer.fit_transform(data[['p1q0','p2q0','p3q0','p0q1','p0q2','p0q3','hour']]), columns=columns)

# data.head()

In [57]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=10)
X = pd.DataFrame(imputer.fit_transform(X),columns=X.columns)

In [ ]:
X = data
X.head()

,hour,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,station_AA,station_AB,station_AC,...,train_46,train_47,train_48,train_49,train_50,train_51,train_52,train_53,train_54,train_55
0,6.0,0.114336,0.129463,0.189309,0.201,0.138,0.091,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,6.0,0.120097,0.134503,0.194256,0.204,0.152,0.106,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,6.0,0.121557,0.135827,0.198459,0.213,0.153,0.111,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,6.0,0.121736,0.135562,0.197872,0.213,0.152,0.108,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,6.0,0.121063,0.133755,0.194326,0.210,0.147,0.096,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
X['hour'].unique()

array([6.        , 7.        , 7.3480383 , ..., 6.76609892, 6.8425514 ,
       6.82094137])

In [ ]:
# conditions = [
#     (X['hour'] <= 6.5),
#     (X['hour'] > 6.5) & (X['hour'] <= 7.5),
#     (X['hour'] > 7.5) & (X['hour'] <= 8.5),
#     (X['hour'] > 8.5) & (X['hour'] <= 9.5),
#     (X['hour'] >= 11),
# ]

# choices = [6, 7, 8, 9, 11]  # Les valeurs à assigner en fonction des conditions

# X['hour'] = np.select(conditions, choices, default=X['hour'])

In [ ]:
(X.isna().sum()/X.shape[0]).sort_values(ascending=True)

hour          0.0
train_28      0.0
train_27      0.0
train_26      0.0
train_25      0.0
             ...
station_AV    0.0
station_AU    0.0
station_AT    0.0
station_AR    0.0
train_55      0.0
Length: 98, dtype: float64

In [ ]:
Xtrain = X.head(31119)
Xtest = X.tail(len(X) - 31119)

In [ ]:
Xtrain

,hour,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,station_AA,station_AB,station_AC,...,train_46,train_47,train_48,train_49,train_50,train_51,train_52,train_53,train_54,train_55
0,6.0,0.114336,0.129463,0.189309,0.201,0.138,0.091000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6.0,0.120097,0.134503,0.194256,0.204,0.152,0.106000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6.0,0.121557,0.135827,0.198459,0.213,0.153,0.111000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6.0,0.121736,0.135562,0.197872,0.213,0.152,0.108000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6.0,0.121063,0.133755,0.194326,0.210,0.147,0.096000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31114,8.0,0.152000,0.188600,0.157000,0.080,0.100,0.096595,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31115,8.0,0.153000,0.180400,0.191000,0.089,0.121,0.118668,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31116,8.0,0.166000,0.149000,0.168000,0.099,0.129,0.121151,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31117,8.0,0.182000,0.193000,0.162000,0.074,0.101,0.094082,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31118,8.0,0.173000,0.169280,0.187717,0.289,0.354,0.306736,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Xtest

,hour,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,station_AA,station_AB,station_AC,...,train_46,train_47,train_48,train_49,train_50,train_51,train_52,train_53,train_54,train_55
31119,6.0,0.127885,0.141309,0.207184,0.226,0.165,0.128000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31120,6.0,0.126623,0.138951,0.202482,0.221,0.159,0.114000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31121,6.0,0.133316,0.144968,0.209376,0.227,0.175,0.133000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31122,6.0,0.116766,0.132552,0.192224,0.200,0.148,0.105000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31123,6.0,0.129856,0.142236,0.205439,0.221,0.169,0.126000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44866,8.0,0.121000,0.145000,0.157150,0.071,0.095,0.098115,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44867,8.0,0.144000,0.139000,0.153000,0.079,0.102,0.100234,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44868,8.0,0.128000,0.137000,0.127000,0.072,0.089,0.088278,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44869,8.0,0.164000,0.187000,0.155000,0.100,0.130,0.119525,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44870,8.0,0.146000,0.172000,0.127000,0.080,0.093,0.087980,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Ytrain

       Unnamed: 0   p0q0
0               1  0.216
1               2  0.216
2               3  0.227
3               4  0.229
4               5  0.225
...           ...    ...
31114       31115  0.111
31115       31116  0.143
31116       31117  0.139
31117       31118  0.117
31118       31119  0.416

[31119 rows x 2 columns]

In [ ]:
Ytrain = Ytrain.drop(["Unnamed: 0"], axis=1)
Ytrain

        p0q0
0      0.216
1      0.216
2      0.227
3      0.229
4      0.225
...      ...
31114  0.111
31115  0.143
31116  0.139
31117  0.117
31118  0.416

[31119 rows x 1 columns]

In [ ]:
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

# Supposons que vous ayez déjà défini vos données Xtrain, Ytrain, Xtest, Ytest

# Créez un pipeline avec une étape de normalisation et une étape SVR
#pipeline = make_pipeline(StandardScaler(), SVR())

# Définissez une plage de valeurs d'hyperparamètres pour SVR (C et epsilon dans cet exemple)
#param_grid = {'C': np.logspace(-3, 3, 7), 'epsilon': [0.1, 0.2, 0.5, 1.0]}

#svr_model = SVR(kernel='rbf', C=100, epsilon=0.1)
#svr_model.fit(Xtrain, Ytrain)
#predictions = svr_model.predict(Xtest)

# Effectuez une recherche sur grille pour trouver les meilleurs hyperparamètres
#grid_search = GridSearchCV(svr_model, param_grid, scoring='neg_mean_squared_error', cv=5)
#grid_search.fit(Xtrain, Ytrain)

# Affichez les meilleurs hyperparamètres
#best_params = grid_search.best_params_
#print(f"Meilleurs hyperparamètres : {best_params}")
  

# Ajustez le modèle avec les meilleurs hyperparamètres
#best_svr_model = grid_search.best_estimator_
#best_svr_model.fit(Xtrain, Ytrain)

# Évaluez la performance sur l'ensemble de test
#predictions = best_svr_model.predict(Xtest)
#mse = mean_squared_error(Ytest, predictions)
#print(f"Mean Squared Error on Test Set: {mse}")

In [ ]:
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np


alphas = np.logspace(-6, 6, 13)

ridge_cv_model = RidgeCV(alphas=alphas, store_cv_values=True)
ridge_cv_model.fit(Xtrain, Ytrain)

meilleur_alpha = ridge_cv_model.alpha_
print(f"Meilleur coefficient alpha : {meilleur_alpha}")

Meilleur coefficient alpha : 0.1

In [ ]:
predictions = ridge_cv_model.predict(Xtest)
predictions = predictions.flatten()

In [ ]:
predictions

array([0.25399285, 0.24852052, 0.2586198 , ..., 0.13944119, 0.16292001,
       0.13825869])

In [ ]:
Ypred = pd.DataFrame({'Predictions': predictions})
Ypred.index = Ypred.index + 1
#Ypred.to_csv("./predictions.csv", index=True)
Ypred.to_csv('.\\Ypred.csv', index=True)

In [ ]:
Ypred

       Predictions
1         0.253993
2         0.248521
3         0.258620
4         0.238004
5         0.253925
...            ...
13748     0.145626
13749     0.151465
13750     0.139441
13751     0.162920
13752     0.138259

[13752 rows x 1 columns]